<div class="container-md">
    <div class="card" style="margin-bottom: 0px;">
        <div style="background-color: #00bcd4; color: #ffffff;" class="card-heading">
            <div class="pull-right">
                <em class="icon-layers fa-2x"></em>
            </div>
            <div class="card-title">Report</div>
        </div>
        <div class="card-body">
            <h3>Leak Detection Report</h3>
            <h4>1. Reported Damage</h4>
            <p>
                On arrival at the property
                <select>
                    <option>Choose an item</option>
                </select>. directed our attention to the damages affecting the
                <select>
                    <option>Choose an item</option>
                </select>.
                <br>(PHOTOS OF DAMAGES)
            </p>
            <h4>2. Preliminary Information</h5>
                        <p>
                            A visual inspection was carried out in the presence of Choose an item. on the <select><option>Choose an item</option></select>. Photographs were taken of the areas of concern and have been included within this report.<br>

                            After inspection of the damages leak detection testing was conducted to determine if any sanitary fixtures or the domestic water supply system were in any way a contributing factor or the cause of any water ingress and / or damages to the property.<br>

                            For the purpose of this report, the front elevation of the dwelling was assumed to face <select><option>Choose an item</option></select>. and <select><option>Choose an item</option></select>.
                            <br>
                            (PHOTO OF FRONT OF PROPERTY)
                        </p>

                        <h4>3. Findings</h5>
                        <h5><b>Pressure Testing</b></h5>
                        <p>
                            Domestic cold water line to <select><option>Choose an item</option></select>.<br>
                            Domestic hot water line to <select><option>Choose an item</option></select>.<br>
                            Shower breach line to <select><option>Choose an item</option></select>.
                        </p>
                        <h5><b>Spray Testing</b></h5>
                        <p>
                            Spray testing to the shower wall tiles <select><option>Choose an item</option></select>.<br>
                            Spray testing to the shower screen <select><option>Choose an item</option></select>.<br>
                            Flow test <select><option>Choose an item</option></select>.
                        </p>
                        
                        <h5><b>Acoustic Testing</b></h5>
                        <p>
                            Not required.
                            <br>(PHOTO OF FRONT OF FINDINGS)
                        </p>

                        <h4>4. Conclusion</h4>
            <h5><b>Pressure Test - No Leak</b></h5>
            <p>
                Based on our testing methods conducted to date, we can confirm that all plumbing services tested at the property are in serviceable condition, with no leakage concerns located within the domestic hot / cold water or shower breach lines identified during the testing period.
                <br> Based on the information gathered using our methods of leak detection, we can confirm that the sighted water damages are not in any significant way caused or contributed to by the domestic water services.
            </p>
            <h5><b>Pressure Test - Leak</b></h5>
            <p>
                Based on our testing methods conducted to date, we can confirm that a pressure drop occurred during testing of the failed domestic lines.
                <br> We can confirm that all other plumbing services tested at the property are in serviceable condition, with no leakage concerns located within the passed domestic lines identified during the testing period.
                <br> Based on the information gathered using our methods of leak detection, we can confirm that the sighted water damages may be caused or contributed to by the identified domestic water services.
            </p>
            <h5><b>Spray Test - No Leak</b></h5>
            <p>
                Based on our testing methods conducted to date, we can confirm that all tiling and screens tested at the property are in serviceable condition, with no leakage concerns located within the showering areas identified during the testing period.
                <br> Based on the information gathered using our methods of leak detection, we can confirm that the sighted water damages is not in any significant way caused or contributed to by the shower wall tiling or shower screen installations.
            </p>
            <h5><b>Spray Test - Leak</b></h5>
            <p>
                Based on our testing methods conducted to date, we can confirm that a leak occurred during testing of the failed tiling and / or screens.
                <br> We can confirm that all other installations tested at the property are in serviceable condition, with no leakage concerns located within the passed tiling and screens identified during the testing period.
                <br> Based on the information gathered using our methods of leak detection, we can confirm that the sighted water damages is caused or contributed to by the shower wall tiling or shower screen installations.
            </p>
            <h4>5. Recommendations</h4>
            <p>
                All works relating to plumbing to be completed by a Licensed Plumber and be compliant to AS 3500 Plumbing and Drainage Code. Engage a suitably qualified tradesperson to carry out works in accordance with the Building Code of Australia/National Construction Code and relevant Australian Standards.
            </p>
            <p>
                <button class="md-raised md-primary md-button" ng-click="wrapping()">
                    <span>Save</span>
                </button>
            </p>
        </div>
    </div>
</div>
