<div class="container-md">
    <div class="card" style="margin-bottom: 0px;">
        <div style="background-color: #00bcd4; color: #ffffff;" class="card-heading">
            <div class="pull-right">
                <em class="icon-layers fa-2x"></em>
            </div>
            <div class="card-title">Report</div>
        </div>
        <div class="card-body">
            <h3>Roof Inspection Report</h3>
            <h4>1. Reported Damage</h4>
            <p>
                On arrival at the property
                <select>
                    <option>Choose an item</option>
                </select>. directed our attention to the damages affecting the
                <select>
                    <option>Choose an item</option>
                </select>.
                <br>(PHOTOS OF DAMAGES)
            </p>
            <h4>2. Preliminary Information</h5>
                        <p>
                            A visual inspection was carried out in the presence of the insured on the <select><option>Choose an item</option></select>. Photographs were taken of the areas of concern and have been included within this report.

                            After inspection of the damages a roof inspection was conducted to determine if the above ground storm water drainage system was in any way a contributing factor or the cause of any water ingress and / or damages to the property.

                            For the purpose of this report, the front elevation of the dwelling was assumed to face west and parallel Warrigal Road.

                            (PHOTO OF FRONT OF PROPERTY)
                        </p>

                        <h4>3. Findings</h5>
                        <h5><b>Design Inadequacies</b></h5>
                        <p>
                            Through Choose an item. we found <select><option>Choose an item</option></select>. located <select><option>Choose an item</option></select>. collecting storm water runoff from <select><option>Choose an item</option></select>. Our computations confirm that the roof and roof drainage system exists in an inadequately designed state.
                        </p>
                        <h5><b>Condition Defects</b></h5>
                        <p>
                            Through <select><option>Choose an item</option></select>. we found <select><option>Choose an item</option></select>.
                        </p>
                        
                        <h5><b>No Defects</b></h5>
                        <p>
                            Through <select><option>Choose an item</option></select>. we found the roof and roof drainage system to be compliant and free from significant defects capable of causing the reported damages.
                            <br>(PHOTO OF FRONT OF FINDINGS)
                        </p>

                        <h4>4. Conclusion</h4>
            <h5><b>Design Inadequacies</b></h5>
            <p>
                Based on our investigation methods conducted to date, we can confirm that the sighted damages are likely caused or contributed to by the design inadequacies existing in the roof and / or above ground storm water drainage system. Currently the roof and / or above ground storm water drainage system does not comply with AS3500 National Plumbing Code.
            </p>
            <h5><b>Condition Defects</b></h5>
            <p>
                Based on our investigation methods conducted to date, we can confirm that the sighted damages are likely caused or contributed to by the condition defects existing in the roof and / or above ground storm water drainage system.
            </p>
            <h5><b>No Defects</b></h5>
            <p>
                Based on our investigation methods conducted to date, we can confirm that the sighted damages are not in any significant way caused or contributed to by the roof and / or above ground storm water drainage system.
            </p>
            <h4>5. Recommendations</h4>
            <p>
                Engage a registered practitioner to make good repairs. All works relating to plumbing to be completed by a Licensed Plumber and be compliant to AS 3500 Plumbing and Drainage Code.All related reinstatement works are to be compliant with the Building Code of Australia/National construction Co relevant Australian Standards.
            </p>
            <p>
                <button class="md-raised md-primary md-button" ng-click="wrapping()">
                    <span>Save</span>
                </button>
            </p>
        </div>
    </div>
</div>
