<div class="container-md">
    <div class="card" style="margin-bottom: 0px;">
        <div style="background-color: #00bcd4; color: #ffffff;" class="card-heading">
            <div class="pull-right">
                <em class="icon-layers fa-2x"></em>
            </div>
            <div class="card-title">Report</div>
        </div>
        <div class="card-body">
                      <h3>CCTV Inspection Report</h3>
                        <h4>1. Reported Damage</h4>
                        <p>
                            On arrival at the property <select><option>Choose an item</option></select>. directed our attention to the damages affecting the <select><option>Choose an item</option></select>.
                            <br>(PHOTOS OF DAMAGES)
                        </p>

                        <h4>2. Preliminary Information</h5>
                        <p>
                            A visual inspection was carried out in the presence of Choose an item. on the <select><option>Choose an item</option></select>. Photographs were taken of the areas of concern and have been included within this report.<br>

                            After inspection of the damages leak detection testing was conducted to determine if any sanitary fixtures or the domestic water supply system were in any way a contributing factor or the cause of any water ingress and / or damages to the property.<br>

                            For the purpose of this report, the front elevation of the dwelling was assumed to face <select><option>Choose an item</option></select>. and <select><option>Choose an item</option></select>.
                            <br>
                            (PHOTO OF FRONT OF PROPERTY)
                        </p>

                        <h4>3. Findings</h5>
                        <h5><b>Sewer</b></h5>
                        <p>
                            The CCTV camera was entered into the sewer drainage system via the inspection opening Choose an item. Choose an item., and followed the direction of drain for a distance of Choose an item. meters. The CCTV camera was removed from this access point due to Choose an item.. This section of drainage is constructed of Choose an item. and was found to exist in Choose an item. condition.<br>

                            (PHOTOS OF PIPE SECTION CONDIDITION, if non serviceable)<br>


                            The CCTV camera was re-entered into this system via the inspection opening Choose an item. Choose an item., and followed the direction of drain for a distance of Choose an item. meters. The CCTV camera was removed from this access point due to Choose an item.. This section of drainage is constructed of Choose an item. and was found to exist in Choose an item. condition.<br><br>

                            (PHOTOS OF PIPE SECTION CONDIDITION, if non serviceable)

                        </p>
                        <h5><b>Sewer - Lack of access</b></h5>
                        <p>
                        The CCTV camera was entered into the storm water drainage system via the <select><option>Choose an item</option></select>, and followed the direction of drain for a distance of <select><option>Choose an item</option></select>. meters. The CCTV camera was removed from this access point due to<select><option>Choose an item</option></select>. This section of drainage is constructed of Choose an item. and was found to exist in <select><option>Choose an item</option></select>. condition.<br><br>

                        (PHOTOS OF PIPE SECTION CONDIDITION, if non serviceable)<br>

                        The CCTV camera was re-entered into this system via the <select><option>Choose an item</option></select>, and followed the direction of drain for a distance of <select><option>Choose an item</option></select>. meters. The CCTV camera was removed from this access point due to <select><option>Choose an item</option></select>. This section of drainage is constructed of <select><option>Choose an item</option></select> and was found to exist in <select><option>Choose an item</option></select> condition.<br><br>

                        (PHOTOS OF PIPE SECTION CONDIDITION, if non serviceable)
                        </p>
                        
                        <h5><b>Storm Water - Lack of access Cut ins??</b></h5>
                        <p>
                           The CCTV camera was not re-entered into this system via any alternative location due to a lack of serviceable inspection openings available.
                        </p>

                        <h5><b>Sewer & Storm Water - Lines outside area of affect</b></h5>
                        <p>
                           Any unmentioned, known drainage existing within the property boundaries lies sufficiently far away from the reported damage to be of affect.
                        </p>

                        <h4>4. Conclusion</h4>
                        <h5><b>Sewer - Serviceable</b></h5>
                        <p>
                            Based on our drainage serviceability and condition inspection conducted to date, we can confirm that all sewer services inspected at the property are in serviceable condition, with no significant damage or condition concerns located within the sewer drainage lines identified during the inspection period.
                            <br>
                            Based on the information gathered using our methods of drainage serviceability and condition inspection, we can confirm that the sighted damages are not in any significant way caused or contributed to by the inspected sewer services.
                        </p>

                        <h5><b>Sewer - Non serviceable</b></h5>
                        <p>
                            Based on our drainage serviceability and condition inspection conducted to date, we can confirm that a non-serviceable condition exists as identified in the sewer drainage lines.
                            <br>
                            We can confirm that all other sewer services inspected at the property are in serviceable condition, with no significant damage or condition concerns located within the other sewer drainage lines identified during the inspection period.
                            <br>
                            Based on the information gathered using our methods of drainage serviceability and condition inspection, we can confirm that the sighted damages are likely caused or contributed to by the identified sewer drainage lines.

                        </p>

                        <h5><b>Storm Water - Serviceable</b></h5>
                        <p>
                            Based on our drainage serviceability and condition inspection conducted to date, we can confirm that all storm water services inspected at the property are in serviceable condition, with no significant damage or condition concerns located within the storm water drainage lines identified during the inspection period.
                            <br>
                            Based on the information gathered using our methods of drainage serviceability and condition inspection, we can confirm that the sighted damages are not in any significant way caused or contributed to by the inspected storm water services.
                        </p>

                        <h5><b>Storm Water - Non serviceable</b></h5>
                        <p>
                            Based on our drainage serviceability and condition inspection conducted to date, we can confirm that a non-serviceable condition exists as identified in the storm water drainage lines.
                            <br>
                            We can confirm that all other storm water services inspected at the property are in serviceable condition, with no significant damage or condition concerns located within the other stormwater drainage lines identified during the inspection period.
                            <br>
                            Based on the information gathered using our methods of drainage serviceability and condition inspection, we can confirm that the sighted damages are likely caused or contributed to by the identified storm water drainage lines.

                        </p>


                        <h4>5. Recommendations</h4>
                        <p>
                            Engage a registered practitioner to make good repairs. All works relating to plumbing to be completed by a Licensed Plumber and be compliant to AS 3500 Plumbing and Drainage Code.
                            <br>
                            All related reinstatement works are to be compliant with the Building Code of Australia/National construction Co relevant Australian Standards.
                        </p>

                        <p>
                            <button class="md-raised md-primary md-button" ng-click="wrapping()">
                                <span>Save</span>
                            </button>
                        </p>

        </div>
    </div>
</div>