<div class="container-md" ng-controller="JobReportController">
    <div class="card" style="margin-bottom: 0px;">
        <div style="background-color: #00bcd4; color: #ffffff;" class="card-heading">
            <div class="pull-right">
                <em class="icon-layers fa-2x"></em>
            </div>
            <div class="card-title">Schedule Job</div>
        </div>
        <div class="card-body">
            
<div class="calendar-app">
   <div class="row">
      
      <div class="col-md-12">
         <!-- START panel-->
         <div class="panel panel-default">
            <div class="panel-body">
               <!-- START calendar-->
               <div calendar=""></div>
               <!-- END calendar-->
            </div>
         </div>
         <!-- END panel-->
      </div>
   </div>
   <!-- END row-->
</div>
        </div>
    </div>
</div>

